@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager

<footer class="border-top footer text-muted">
    <div class="container">
        @if (SignInManager.IsSignedIn(User))
        {
            <span>
                &copy; 2022 - La Mia Pizzeria - <a asp-area="" asp-controller="Pizza" asp-action="Index">Home</a>
            </span>
        } else {
            <span>
                &copy; 2022 - La Mia Pizzeria - <a asp-area="" asp-controller="Guest" asp-action="Index">Home</a>
            </span>
        }
    </div>
</footer>
