@{
    ViewData["Title"] = "ApiEdit";
}

<h1 id="title" class="text-center py-4">Modifica Pizza </h1>

<form id="edit-form">
    <div class="form-check mb-3">
        <label for="name" class="form-label">Nome:</label>
        <input type="text" class="form-control" id="name" placeholder="Inserisci il nome della pizza">
    </div>
    <div class="form-check mb-3">
        <label for="description">Descrizione:</label>
        <textarea class="form-control" rows="10" id="description"></textarea>
    </div>
    <div class="form-check mb-3">
        <label for="image" class="form-label">Immagine:</label>
        <input type="text" class="form-control" id="image" placeholder="Inserisci il percorso dell'immagine">
    </div>
    <div class="form-check mb-3">
        <label for="price" class="form-label">Prezzo:</label>
        <input type="text" class="form-control" id="price" placeholder="Inserisci il prezzo">
    </div>
    <div class="form-check mb-3">
        <span class="form-label">Categoria:</span>
        <select id="categories" class="form-select" aria-label="Default select example">
            <option value="">Seleziona una categoria...</option>
        </select>
    </div>
    <div class="form-check mb-3">
        <span class="form-label">Ingredienti:</span>
        <select id="ingredients" class="form-select" multiple>
        </select>
    </div>
    <div class="form-check mb-3">
        <button type="submit" class="btn btn-primary">Salva</button>
    </div>
</form>



<script type="text/javascript">

    const currentUrl = window.location.href;
    const urlArray = currentUrl.split("/");
    const thisId = urlArray[urlArray.length - 1];

    const title = document.getElementById("title");
    const nameTag = document.getElementById("name");
    const descTag = document.getElementById("description");
    const imgTag = document.getElementById("image");
    const priceTag = document.getElementById("price");
    const categoriesTag = document.getElementById("categories");
    const ingredientsTag = document.getElementById("ingredients");
    const form = document.getElementById("edit-form");
    let categoriesArray = [];
    let ingredientsArray = [];

    getPizza();

    form.addEventListener("submit", function(event) {
        event.preventDefault();

        putPizza();
    })

    function getPizza() {
        axios.get("/api/pizza/geteditform/" + thisId)
            .then((resp) => {
                const data = resp.data;
                const categories = data.categories;
                const ingredients = data.ingredients;
                const pizza = data.pizza;
                console.log(pizza);

                title.innerHTML += pizza.name;
                nameTag.value = pizza.name;
                descTag.value = pizza.description;
                imgTag.value = pizza.image;
                priceTag.value = pizza.price;

                ingredientsArray = ingredients;
                categoriesArray = categories;

                categories.forEach(cat => {
                    const option = document.createElement("option");
                    option.value = cat.id;
                    option.innerHTML = cat.name;
                    cat.id === pizza.categoryId ? option.setAttribute("selected", "selected") : "";
                    categoriesTag.append(option);
                })

                ingredients.forEach(ing => {
                    const option = document.createElement("option");
                    option.value = ing.id;
                    option.innerHTML = ing.name;
                    pizza.ingredients.forEach(pizzaIng => {
                        pizzaIng.id === ing.id ? option.setAttribute("selected", "selected") : "";
                    })
                    ingredientsTag.append(option);
                })
            })
            .catch(e => {
                console.log(e);
            });
    }

    function putPizza() {
        const name = nameTag.value;
        const description = descTag.value;
        const image = imgTag.value;
        const price = parseFloat(priceTag.value);
        const categoryId = parseInt(categoriesTag.value);
        const ingredientsId = [];
        for(const opt of ingredientsTag.options) {
            if(opt.selected) {
                ingredientsId.push(parseInt(opt.value));
            }
        }
        const selectedIng = [];
        ingredientsArray.forEach(ing => {
            ingredientsId.includes(ing.id) ? selectedIng.push(ing) : "";
        })
        console.log(selectedIng);
        console.log(name, description, image, price, categoryId);
        axios.put("/api/pizza/put/" + thisId, {
            name: name,
            description: description,
            image: image,
            price: price,
            categoryId: categoryId,
            ingredients: selectedIng,
        })
            .then(resp => {
                console.log(resp);

                alert("Pizza modificata con successo");

                window.location.href = `/Home/Details/${thisId}`;
            })
            .catch(e => {
                console.log(e);

                alert("Qualcosa è andato storto");
            })
    }


</script>