@{
    ViewData["Title"] = "ApiMessages";
}

<h1 class="text-center py-4">Contattaci</h1>

<div id="success" class="d-none my_pointer alert alert-success text-center">

</div>

<ul id="errors" class="d-none list-group my_pointer">

</ul>

<form id="message-form">
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" required>
        <div id="emailHelp" class="form-text">Non condivideremo con nessun altro la tua email</div>
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Nome</label>
        <input type="text" class="form-control" id="name" required>
    </div>
    <div class="mb-3">
        <label for="title" class="form-label">Titolo</label>
        <input type="text" class="form-control" id="title" aria-describedby="titleHelp" required>
        <div id="titleHelp" class="form-text">Inserisci il titolo del tuo messaggio</div>
    </div>
    <div class="mb-3">
        <label for="content">Messaggio</label>
        <textarea class="form-control" id="content" rows="5" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary mb-3">Submit</button>
</form>

<script type="text/javascript">

    const form = document.getElementById("message-form");
    const email = document.getElementById("email");
    const title = document.getElementById("title");
    const name = document.getElementById("name");
    const content = document.getElementById("content");
    const errorList = document.getElementById("errors");
    const successCont = document.getElementById("success");
    const formObj = {email: email, title: title, name: name, content: content};

    form.addEventListener("submit", function(event) {
        event.preventDefault();
        
        send(formObj, successCont, errorList);
    })

    function send(obj, successContainer, errorsContainer) {
        axios.post("/api/message/send", {
            email: obj.email.value,
            title: obj.title.value,
            name: obj.name.value,
            content: obj.content.value
        })
        .then((resp) => {

            resetValue(obj.email);
            resetValue(obj.title);
            resetValue(obj.name);
            resetValue(obj.content);

            errorsContainer.innerHTML = "";
            errorsContainer.classList.add("d-none");
            successContainer.innerHTML = "";
            const successMessage = document.createElement("h5");
            successMessage.innerHTML = "Messaggio inviato correttamente";
            successContainer.append(successMessage);
            successContainer.classList.remove("d-none");
            successContainer.addEventListener("click", function () {
                successContainer.classList.add("d-none");
                successContainer.innerHTML = "";
            })
        })
        .catch((e) => {
            errorsContainer.innerHTML = "";
            const errorsResp = e.response.data.errors;
            for (const prop in errorsResp) {
                const errorItem = document.createElement("li");
                errorItem.setAttribute("class", "alert alert-danger");
                errorItem.innerHTML = errorsResp[prop];
                errorsContainer.append(errorItem);
            }
            errorsContainer.classList.remove("d-none");
            errorsContainer.addEventListener("click", function () {
                errorsContainer.classList.add("d-none");
            })
        })
    }

    function resetValue(tag) {
        tag.value = "";
    }

</script>
