html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.my_card {
    width: 25rem!important;
}

.my_img_top {
    height: 15rem !important;
}

.my_pointer {
    cursor: pointer !important;
}

#errors {
    list-style: none !important;
}